.heading {
 background-color: rgb(62, 150, 29);
 height: 300px;
 width: 100%;
}
.firsth1 {
    font-weight: bolder;
    color: #000444;
    text-align: center;
    margin-top: -250px;
}
.firstp {
    font-weight: bolder;
    color: #000444;
    text-align: center;
    margin-top: -10px;
}
.button {
    text-align: center;
    margin-left: -80px;
    margin-top: 20px;
}
.firstbutton, .secondbutton, .thirdbutton {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    margin-left: 60px;
    display: inline-block;
    height: 40px;
    width: 80px;
}
.secondp {
    margin-left: -10px;
    text-align: center;

}


